services:
  db:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ledger
    ports:
      - 5432:5432
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./initdb.d:/docker-entrypoint-initdb.d/

  redis:
    image: valkey/valkey:8-alpine
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    command: redis-server --save 5 1 --loglevel warning

volumes:
  pg-data:
  redis-data:
